.view{
    background-color:#eee;
    border:1px solid #000;
    border-radius:10px;
    width:50%;
    margin:auto;
    padding:20px;
}
.view .img-animals{
    width:50%;
    display:block;
    margin:auto;
}
.buttons{
    margin-bottom:15px;
}
.buttons button{
    font-size:1.2rem;
    padding:10px;
    margin:0 5px;
}
.text-center{
    text-align:center;
}